<!DOCTYPE html>
<html>
<head>
    <title>Connect to Grafana</title>
</head>
<body>
    <h1>Connect to Grafana Server</h1>
    <form method="post">
        {% csrf_token %}
        <label for="url">Grafana Server URL:</label>
        <input type="url" id="url" name="url" required><br><br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <label for="folder">Dashboard Folder:</label>
        <input type="text" id="folder" name="folder" required><br><br>
        <input type="submit" value="Connect">
    </form>
</body>
</html>
