<!-- application/grfn_app/templates/grfn_app/main_dashboard.html -->
{% extends 'base.html' %}

{% block title %}
Grafana One-Page Dynamic Board
{% endblock %}

{% block content %}
<h1>Grafana One-Page Dynamic Board</h1>
{% if not grafana_server_url %}
    <div>
        <p>You are not connected to the Grafana server. Please input the connection details in the Settings menu.</p>
        <!-- Settings menu for connecting to Grafana server -->
        <h2>Connect to Grafana Server</h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <label for="url">Grafana Server URL:</label>
            <input type="url" id="url" name="url" required
                   oninvalid="this.setCustomValidity('Please enter a valid Grafana server link(e.g. http://IP:port or https://domain.com). ')"
                   oninput="this.setCustomValidity('')"><br><br>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Connect">
        </form>
    </div>
{% else %}

    <div style="display: flex; align-items: center">
    <p style="margin-right: 20px;">Connected to Grafana Server: {{ grafana_server_url }}</p>
    <form action="{% url 'disconnect_grafana' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Reconnect to Grafana Server">
    </form>
    </div>

     <!-- Display selected panels -->
    {% if selected_panels %}
    <div id="selected-panels">
        <h5>Selected Panels: </h5>
        <div style="height:60px; overflow:auto;">
            {% for panel in selected_panels %}
                {{ panel.panel_title }} from {{ panel.dashboard.title }}<br>
            {% endfor %}
        </div>
    </div>

    {% endif %}

    <!-- Display a container having all the panels -->
    <div id="selected-panels-container">
        {% for panel in selected_panels %}
        <iframe class="panel-iframe" id="panel-iframe-{{ forloop.counter }}" src="{{ panel.embed_url }}&from=now&to=now-{{ panel.time_range }}"></iframe>
        {% endfor %}
    </div>

    <!-- Buttons to switch between panels -->
    <button onclick="prevPanel()">Previous</button>
    <button onclick="nextPanel()">Next</button>

    <h3>Settings:</h3>

    <!-- Form for selecting multiple starred dashboards -->
    <div id="dashboard-list">
        <form method="post">
            {% csrf_token %}
            <label for="selected_dashboards">Select Dashboards:</label>
            <div style="height:60px; overflow:auto;">
                {% for dashboard in dashboards %}
                    <input type="checkbox" id="selected_dashboards" name="selected_dashboards" value="{{ dashboard.dashboard_uid }}">
                    <label for="{{ dashboard.dashboard_uid }}">{{ dashboard.title }}</label><br>
                {% endfor %}
            </div>
            <input type="submit" name="action" value="Select Dashboards">
        </form>
    </div>
    <br>
    <!-- Select multiple panels -->
    <div id="panel-list">
        {% if selected_dashboards %}
        <form method="post">
            {% csrf_token %}
            <label for="selected_panels">Select Panels:</label>
            <div style="height:150px; overflow:auto;">
                {% for panel_data in panels_data %}
                    <input type="checkbox" id="selected_panels" name="selected_panels" value="{{ panel_data.panel_id }}">
                    <label for="{{ panel_data.panel_id }}">{{ panel_data.panel_title }}</label><br>
                {% endfor %}
            </div>
            <input type="submit" name="action" value="Select Panels">
        </form>
        <br>
        {% endif %}
    </div>

    <!-- Dropdown-list to select Default time range -->
    <div id="time-range-list">
        <form method="post">
            {% csrf_token %}
            <label for="time_range">Default Time Range:</label>
            <select name="time_range" id="time_range">
                <option value="5m" {% if selected_panel.time_range == "5m" %}selected{% endif %}>Last 5 minutes</option>
                <option value="15m" {% if selected_panel.time_range == "15m" %}selected{% endif %}>Last 15 minutes</option>
                <option value="30m" {% if selected_panel.time_range == "30m" %}selected{% endif %}>Last 30 minutes</option>
                <option value="1h" {% if selected_panel.time_range == "1h" %}selected{% endif %}>Last 1 hour</option>
                <option value="3h" {% if selected_panel.time_range == "3h" %}selected{% endif %}>Last 3 hours</option>
                <option value="6h" {% if selected_panel.time_range == "6h" %}selected{% endif %}>Last 6 hours</option>
                <option value="12h" {% if selected_panel.time_range == "12h" %}selected{% endif %}>Last 12 hours</option>
                <option value="24h" {% if selected_panel.time_range == "24h" %}selected{% endif %}>Last 24 hours</option>
                <option value="3d" {% if selected_panel.time_range == "3d" %}selected{% endif %}>Last 3 days</option>
                <option value="7d" {% if selected_panel.time_range == "7d" %}selected{% endif %}>Last 7 days</option>
                <option value="30d" {% if selected_panel.time_range == "30d" %}selected{% endif %}>Last 30 days</option>
            </select><br>
            <input type="hidden" name="selected_panels" value="{{ selected_panel.panel_id }}">
            <input type="submit" name="action" value="Select Time Range" onclick="reloadPage()">
        </form>
    </div>

    <script>
        // Function to reload the page after submitting the "Select Panels" form
        function reloadPage() {
            setTimeout(function () {
                location.reload();
            }, 100); // Adjust the timeout as needed
        }
    </script>

    <!-- JavaScript for switching between panels -->
    <script>
        let currentPanelIndex = 0;
        let numberOfPanels = parseInt("{{ selected_panels.count }}", 10);

        // Initially show the first panel
        document.getElementById("panel-iframe-1").style.display="block";

        function nextPanel(){
            // Hide the current panel
            document.getElementById("panel-iframe-" + (currentPanelIndex + 1)).style.display="none";
            // Increment the current panel index
            currentPanelIndex = (currentPanelIndex + 1) % numberOfPanels;
            // Show the next panel
            document.getElementById("panel-iframe-" + (currentPanelIndex + 1)).style.display="block";
        }

        function prevPanel(){
            // Hide the current panel
            document.getElementById("panel-iframe-" + (currentPanelIndex + 1)).style.display="none";
            // Decrement the current panel index
            currentPanelIndex = (currentPanelIndex - 1 + numberOfPanels) % numberOfPanels;
            // Show the previous panel
            document.getElementById("panel-iframe-" + (currentPanelIndex + 1)).style.display="block";
        }
    </script>

    <style>
    .panel-iframe {
        display: none;
        width: 800px;
        height: 600px;
        border: none;
    }
    </style>

{% endif %}
{% endblock %}
